@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    color: whitesmoke;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 59.1em;
}

.title {
    font-size: 46px;
    border-bottom: 1px solid #e5e7eb;
}

.sub {
    font-size: 46px;
}
.play-area {
    display: flex;
    justify-content: center;
}

.button-container {
    border-right: 0.5px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20em;
    width: 35em;
}

.computer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    height: 20em;
    width: 35em;
}

.computer-container p {
    font-size: 28px;
}

#rock,
#paper,
#scissors {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 28px;
    height: fit-content;
    width: 20%;
    text-align: center;
}

.last {
    margin-right: 1em;
}